.table-box{
    // margin: 50px auto;
}

.table-row{
    display: table;
    width: 70%;
    margin: 10px auto;
    color: black;
    font-size: 16;
}

.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    background-color: white;
    border-bottom :1px solid black;

}

.table-header{
    font-size: 20;
    font-weight: bold;
}

.multiple-icons{
    margin: 10px 50px 0px;
    display: flex;
    cursor: pointer
}

.multiple-img{
    height: 25px;
    width: 20px;
    cursor: pointer;
    margin: 0px 10px
}