.table-box{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 70%;
    margin: 10px auto;
    color: red;
    font-size: 16;
    border: none;
}

.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0 ;
    background-color: white;
}

.table-header{
    font-size: 20;
    font-weight: bold;
}